@{
    ViewData["Title"] = "Home Page";

}

<link href="~/Librerias/dashboard/nprogress/nprogress.css" rel="stylesheet" />
<link href="~/Librerias/dashboard/dashboard.css" rel="stylesheet" />

<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="container-fluid">
        <div class="row col-12" style="display: inline-block;">
            <div class="tile_count row col-12">
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fas fa-ship"></i>  Numero de Naves</span>
                    <b><div id="NavesActivas" class="count">0</div></b>
                    <span class="count_bottom">Activas</span>
                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fas fa-ship"></i> Total Manifestados</span>
                    <div id="ManImpo" class="count green">0</div>
                    <span class="count_bottom"><i class="fa fa-sort-asc"></i>Cont. en Importacion</span>
                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fas fa-ship"></i> Total Recibidos</span>
                    <div id="ReciImpo" class="count green">0</div>
                    <span class="count_bottom">Cont. en Importacion</span>
                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fas fa-ship"></i> Total Manifestados</span>
                    <div id="ManExpo" class="count red">0</div>
                    <span class="count_bottom"><i class="fa fa-sort-asc"></i>Cont. en Exportación</span>
                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">
                    <span class="count_top"><i class="fas fa-ship"></i> Total Recibidos</span>
                    <div id="EnviExpo" class="count red">0</div>
                    <span class="count_bottom">Cont. en Exportación</span>
                </div>
            </div>
        </div>
        <!-- /top tiles -->

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="dashboard_graph">

                    <div class="row x_title">
                        <div class="col-md-8 col-12" >
                            <h3>Actividad de planificación<small> </small></h3>
                        </div>
                        <div class="col-md-4 col-12">
                            <input id="fecha" class="FechaObj" readonly />
                        </div>
                    </div>

                    <div class="col-md-10 col-sm-10 ">
                        <div class="row p-2">
                            <div class="col-12">
                                <table id="tblDetalle" class="table table-striped display compact hover" style="width:100%;">
                                    <thead></thead>
                                    @*<tbody></tbody>*@
                                </table>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2  bg-white">
                        <div class="dashboard-widget-content row col-12">

                            <div class="sidebar-widget col-12">
                                <h4>Importación</h4>
                                <canvas width="150" height="80" id="chart_gauge_IMPO" class="" style="width: 160px; height: 100px;"></canvas>
                                <div class="goal-wrapper">
                                    <span id="ValorActualI" class="gauge-value pull-left">0</span>
                                    <span class="gauge-value pull-left">%</span>
                                    @*<span id="goal-text" class="goal-value pull-right">100%</span>*@
                                </div>
                            </div>
                            <div class="sidebar-widget col-12">
                                <h4>Exportación</h4>
                                <canvas width="150" height="80" id="chart_gauge_EXPO" class="" style="width: 160px; height: 100px;"></canvas>
                                <div class="goal-wrapper">
                                    <span id="ValorActualE" class="gauge-value pull-left">0</span>
                                    <span class="gauge-value pull-left">%</span>
                                    @*<span id="goal-text" class="goal-value pull-right">100%</span>*@
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <br />

        @*<div class="row">
            <div class="col-md-4 col-sm-4 ">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2>App Versions</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h4>App Usage across versions</h4>
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>0.1.5.2</span>
                            </div>
                            <div class="w_center w_55">
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w_right w_20">
                                <span>123k</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>0.1.5.3</span>
                            </div>
                            <div class="w_center w_55">
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w_right w_20">
                                <span>53k</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>0.1.5.4</span>
                            </div>
                            <div class="w_center w_55">
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w_right w_20">
                                <span>23k</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>0.1.5.5</span>
                            </div>
                            <div class="w_center w_55">
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w_right w_20">
                                <span>3k</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>0.1.5.6</span>
                            </div>
                            <div class="w_center w_55">
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w_right w_20">
                                <span>1k</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 ">
                <div class="x_panel tile fixed_height_320 overflow_hidden">
                    <div class="x_title">
                        <h2>Device Usage</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="" style="width:100%">
                            <tr>
                                <th style="width:37%;">
                                    <p>Top 5</p>
                                </th>
                                <th>
                                    <div class="col-lg-7 col-md-7 col-sm-7 ">
                                        <p class="">Device</p>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 ">
                                        <p class="">Progress</p>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                </td>
                                <td>
                                    <table class="tile_info">
                                        <tr>
                                            <td>
                                                <p><i class="fa fa-square blue"></i>IOS </p>
                                            </td>
                                            <td>30%</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><i class="fa fa-square green"></i>Android </p>
                                            </td>
                                            <td>10%</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><i class="fa fa-square purple"></i>Blackberry </p>
                                            </td>
                                            <td>20%</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><i class="fa fa-square aero"></i>Symbian </p>
                                            </td>
                                            <td>15%</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><i class="fa fa-square red"></i>Others </p>
                                            </td>
                                            <td>30%</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-4 ">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2>Quick Settings</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <ul class="quick-list">
                                <li>
                                    <i class="fa fa-calendar-o"></i><a href="#">Settings</a>
                                </li>
                                <li>
                                    <i class="fa fa-bars"></i><a href="#">Subscription</a>
                                </li>
                                <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
                                <li>
                                    <i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                                </li>
                                <li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
                                <li>
                                    <i class="fa fa-line-chart"></i><a href="#">Achievements</a>
                                </li>
                                <li>
                                    <i class="fa fa-area-chart"></i><a href="#">Logout</a>
                                </li>
                            </ul>

                            <div class="sidebar-widget">
                                <h4>Profile Completion</h4>
                                <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>
                                <div class="goal-wrapper">
                                    <span id="gauge-text" class="gauge-value pull-left">0</span>
                                    <span class="gauge-value pull-left">%</span>
                                    <span id="goal-text" class="goal-value pull-right">100%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>*@



    </div>
</div>
<!-- /page content -->


<script src="~/Librerias/dashboard/nprogress/nprogress.js"></script>
<script src="~/Librerias/dashboard/Chart.js/dist/Chart.js"></script>
<!-- FastClick -->
<script src="~/Librerias/dashboard/fastclick/lib/fastclick.js"></script>
<!-- gauge.js -->
<script src="~/Librerias/dashboard/gauge.js/dist/gauge.min.js"></script>
@*<!-- Flot -->
<script src="~/Librerias/dashboard/Flot/jquery.flot.js"></script>
<script src="~/Librerias/dashboard/Flot/jquery.flot.pie.js"></script>
<script src="~/Librerias/dashboard/Flot/jquery.flot.time.js"></script>
<script src="~/Librerias/dashboard/Flot/jquery.flot.stack.js"></script>
<script src="~/Librerias/dashboard/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="~/Librerias/dashboard/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="~/Librerias/dashboard/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="~/Librerias/dashboard/flot.curvedlines/curvedLines.js"></script>*@
<script src="~/Scripts/home.js"></script>

@*<script src="~/Librerias/dashboard/dashboard.js"></script>*@