<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Libreria" value="DC@RNSLIB" />
    <add key="Esquema" value="Producción" />
    <add key="OPEPORT" value="20513462388" />
    <add key="Usuario" value="smorenob@ransa.net" />
    <add key="Contrasena" value="Ransa151" />
    <!-- <add key="Libreria" value="DC@DESLIB" />
    <add key="Esquema" value="Desarrollo" /> -->

	<add key="WriteLogs" value="true" />
	<add key="Log" value="L:\Tareas Programadas\DT\IntegracionDPW\TareaProgramadaDPW_{0}.txt" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CompletarCitasExtraportuarioSoap">
          <security mode="Transport" />
        </binding>
        <binding name="CompletarCitasExtraportuarioSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.dpwc.com.pe/WebServices/CompletarCitasExtraportuario.asmx"
        binding="basicHttpBinding" bindingConfiguration="CompletarCitasExtraportuarioSoap"
        contract="WsCompletarCita.CompletarCitasExtraportuarioSoap"
        name="CompletarCitasExtraportuarioSoap" />
    </client>
  </system.serviceModel>
</configuration>