<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Libreria" value="DC@RNSLIB" />
    <add key="Esquema" value="Producción" />
    <add key="OPEPORT" value="20513462388" />
    
    <!-- <add key="Libreria" value="DC@DESLIB" />
    <add key="Esquema" value="Desarrollo" /> -->
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="envioCorreoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ranmoliispr1.gruporansa.gromero.net:8059/enviocorreo.asmx"
                binding="basicHttpBinding" bindingConfiguration="envioCorreoSoap"
                contract="WsEnvioCorreo.envioCorreoSoap" name="envioCorreoSoap" />
        </client>
    </system.serviceModel>
</configuration>